.minibox {
    width: 10rem;
    height: 9rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.z-1 {
    z-index: 999;
}

.minibox2 {
    width: 12rem;
    height: 10rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem !important;
}

.money {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
    font-weight: 1000;
    font-size: 28px;
}

.moneytext {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.minibox2 .miniboxdiv {
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.bigbox {
    width: 40rem;
    height: 19rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-left: 3rem !important;
}

.hediye {
    background-image: url("../../assets/images/hediye.jpg");

}

.numberschool {
    font-weight: bold;
    font-size: 30px;
}

.backgrounded {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

}


.leftalt {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    height: 20rem;

}

.kisi {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    height: 3rem;
    margin: 1rem !important;

}

.kisi div {

    background: white;
}

@media screen and (max-width: 768px) {

    .kisi .mg {
        margin-right: 2rem !important;
    }

    .minibox2 {
        width: 9rem;
        height: 8rem;
    }
    .money {
        text-align: center;
    }
    
    .moneytext {
        text-align: center;
    }
}


.afff {
    position: relative;
    top: 2rem;
}