.access {
    margin-left: 0.3rem !important;
    font-size: 12px;
}

.accessdiv{
    margin-top: calc(100% - 50%) !important;
}

@media screen and (max-width: 768px) {
    
    .accessdiv{
        margin-top: 2rem !important;
        width: 70%;
    }
    .open{
        background-color: initial !important;
    }
    
}

.ullleft li {
    font-size: 16px !important;
    margin-top: 0.8rem !important;
    width: 100%;

    padding: 3px !important;
    border-radius: 10px;
    transition: 0.2s;
}

.ullleft li:hover {
    background: white;
}
.asdasd:hover{
    background-color: white;
}

.ullleft {
    margin-left: 2rem !important;
    list-style: none;
    margin-top: 1rem !important;
}

.iconss {
    border-radius: 10px;
    margin-right: 1rem !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    /* Gölge eklemek için kullanılan özellik */
}


.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px !important;
}

.accordion-content {
    margin-top: 1px !important;
    max-height: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    background-color: white;

    transition: all 0.4s ease; /* You can adjust the duration and timing function as needed */

    /* You can adjust the duration and timing function as needed */
}

.open {
    max-height: 1000px; /* Adjust the value as needed to fit your content */
    transition: all 0.4s ease; /* You can adjust the duration and timing function as needed */
    background-color: white;
  }

.opened{

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
  }


.marginleft-1{
    margin-left: 2rem !important;
    margin-top: 0.5rem !important;
    font-size: 14px;
    background-color: white;
}

.marginleft-1 p{
    background-color: white;
}

.alticons{
    scale: 0.9;
}


.leftsectionsticky {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 999;
}



/* @media screen and (max-width: 768px) {
    .ullleft {
        margin-left: 0;
    }

    .accessdiv {
        margin-top: 0; 
    }

    .marginleft-1 {
        margin-left: 0.5rem !important; 
    }
} */


.badgee{
    border-radius: 10px;
    background-color: #67748e;
    padding: 4px 6px !important;
    color: white;
    height: 25px;
    font-weight: bold;

    
}