.listschools {
    height: calc(100vh - 8rem);
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.sp {
    text-align: center;
}

.eachscool {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0.6rem 0 !important;
    border-radius: 20px;

}

.overffff {
    height: 15%;
}

.overfff {
    overflow: auto;
    height: 80%;
}



@media screen and (max-width: 768px) {
    .mblistsc {
        width: 850px;
    }

    .overfff {
        width: 850px;
    }

    .mblistewithd {
        width: 900px;
    }
}

.eachbought {

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    padding: 0.6rem 0 !important;
    border-radius: 20px;
    margin-top: 10px !important;
}